@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
li{
    font-family: 'Roboto Flex', sans-serif;
    color: #181818;
    list-style-type: none;
}
h1, h2, h3{
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    color: #181818;
}
h4, h5, h6{
    font-family: 'Roboto Flex', sans-serif;
    color: #181818;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    color: #252525;
    line-height: 2rem;
}
span{
    font-family: 'Roboto Flex', sans-serif;
}
header{
    background-color: hsla(127, 8%, 14%, 1);
    height: 58.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    width: 88.6%;
    padding-top: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.navigation a:hover{
    color: #fff;
}
.navigation ul{
    display: flex;
    gap: 23px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 15%;
    letter-spacing: -0.005rem;
}
.navigation a{
    color: #839585;
    transition: .3s;
}
.about-a{
    color: #fef6e6 !important;
}
.button:hover{
    background-color: #f1a63b;
    cursor: pointer;
}
.button{
    transition: .3s;
    background-color: #ea8f10;
    margin-top: 0.5%;
    padding: 21px 39px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.button a{
    color: #212722;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 550;
    font-size: 1.2rem;
}
.intro{
    width: 70%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    color: #ea8f10;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    margin-bottom: -15px;
    letter-spacing: -0.015em
}
.intro h1{
    color: #fef6e6;
    font-size: 6.4rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
}

/* <------ Header ------> */
/* ================================================================================================================= */
/* <------- Writings ---------> */

.list{
    display: flex;
    justify-content: center;
}
.list-1{
    display: flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
    padding: 5rem 0;
}
.list-item{
    width: 30%;
    margin-bottom: 2rem;
    margin-left: 3%;
}
.list-item h3{
    font-size: 2.2rem;
    width: 97%;
    line-height: 2rem;
    padding: .5rem 0;
}
.list-item p{
    width: 95%;
    margin: 1rem 0;
}
.list-item p a{
    transition: .5s;
    &:hover{
        color: #637465;
    }
}
.list-item a{
    color: #ea8f10;
}

/* <------- Writings ---------> */
/* ================================================================================================================= */
/* <------- Get Started Together ---------> */

.get-started{
    display: flex;
    flex-direction: column;
    background-color: #212722;
    padding: 10rem 0;
    justify-content: center;
    align-items: center;
}
.main-txt-gs{
    color: #fef6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-txt-gs h2{
    font-size: 4.5rem;
    width: 40%;
    text-align: center;
    display: flex;
    line-height: 4.5rem;
    color: #fef6e6;
}
.main-txt-gs p{
    width: 52%;
    text-align: center;
    line-height: 2.4rem;
    color: #fef6e6;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
    margin: 3rem 0 2rem;
}

/* <------- Get Started Together ---------> */
/* ================================================================================================================= */
/* <------- Footer ---------> */

.main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    padding: 7rem 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
}
.about-footer{
    width: 100%;
}
.about-footer h3{
    color: #fef6e6;
    font-size: 34.56px;
    margin-bottom: 3.5%;
}
.about-footer p{
    color: #FFFFFF99;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 19px;
    line-height: 2.1rem;
    width: 85%;
}
.links-footer{
    width: 50%;
}
.links-footer h3{
    color: #fef6e6;
    font-size: 34.56px;
    margin-bottom: 7%;
}
 .links-footer li a{
    color: #FFFFFF99;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 19px;
    line-height: 2.1rem;
    transition: .5s;
    &:hover{
        color:#fef6e6
    }
}
.newsletter-footer{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.newsletter-footer h3{
    color: #fef6e6;
    font-size: 34.56px;
    margin-bottom: 4%;
}
.newsletter-footer p{
    color: #FFFFFF99;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 19px;
    line-height: 2.1rem;
    width: 95%;
    margin-bottom: 7%;
}
.newsletter-footer input{
    font-size: 1.1rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    background-color: #242525;
    color: #212722;
    transition: .7s;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 1.38rem 0;
    border: none;
    margin-bottom: 4%;
}
.newsletter-footer a{
    font-size: 1.1rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    background-color: #ea8f10;
    color: #212722;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 1.38rem 0;
    transition: .7s;
}
.newsletter-footer a:hover{
    background-color: #f1a63b;
}
.referals-nl{
    display: flex;
    align-items: center;
    width: 82%;
    padding-top: 5rem;
}
.footer-links{
    width: 52%;
}
.footer-links i{
    color: #FFFFFF99;
    padding-left: 20px;
    font-size: 1.5rem;
    transition: .5s;
    &:hover{
        color: #fef6e6;
    }
}
.referals-nl span{
    color: #FFFFFF40;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 10px;
}
.referals-nl span a{
    color: #DADBDB;
    transition: .6s;
}
.referals-nl span a:hover{
    color: #ea8f10;
}
.copy{
    display: flex;
    flex-direction: column;
    width: 42%;
}
.copyright{
    position: relative;
}
.copyright::after{
    content: "|";
    color: #ffffff0d;
    left: 30%;
    position: absolute;
}
.scroll-up{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-up{
    border: #fef6e6 solid 1px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s;

    &:hover{
        border: #ea8f10 solid 1px;
    }
    &:hover a{
        color:#ea8f10;
    }
}
.scroll-up a{
    color: #fef6e6;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}